<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue.js Intro</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    {{ message }}
    <h1>Guess a number!</h1>
    <br>
    <p>{{endGameResponse}}</p>
    <p>{{ answer }}</p>
    
    <div>
      <input type="text" v-model="userGuess">
      <button v-on:click="guessCheck()">Submit</button>
      <button v-on:click="playAgain()">Roll a new numbie</button>
    </div>
    <br>
    <img v-if="showWin" src="https://media.giphy.com/media/ZcUGu59vhBGgbBhh0n/giphy.gif">
    <img v-if="showLose" src="https://media0.giphy.com/media/6g6fIvdYMZPws/giphy.gif">
    <div>
    </div>
  </div>
  <script src="index.js"></script>
</body>
</html>
